* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Белый фон для всего тела */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent; /* Изначально прозрачный фон */
    transition: background-color 0.5s ease; /* Плавный переход */
}

header.scrolled {
    background-color: white; /* Фон белый при прокрутке */
    box-shadow: 0 4px 8px #8a0f4649; /* Добавление тени */
}

header.scrolled nav ul li a {
    color: #8a0f46; /* Цвет текста при прокрутке */
}

.logo {
    height: 50px; /* Размер логотипа */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Цвет текста по умолчанию */
    font-weight: bold;
    font-family: 'Solway', sans-serif; /* Применение шрифта Solway */
}

main {
    text-align: center;
    position: relative;
}

/* Убираем отступы для первой секции */
#home {
    height: 100vh; /* Высота на весь экран минус высота заголовка */
    width: 100%; /* Ширина на весь экран */
    background: url('images/principaltext.png') no-repeat center center; 
    background-size: cover; /* Масштабирование изображения */
    position: relative; /* Относительное позиционирование для внутреннего контента */
}

/* Добавляем стили для блока с текстом */
.quote {
    background-color: rgba(255, 255, 255, 0.271); /* Полупрозрачный белый фон */
    border-radius: 20px; /* Округленные края */
    padding: 10px; /* Отступы внутри блока */
    width: 65%; /* Ширина блока */
    max-width: 500px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование блока */
    position: absolute; /* Абсолютное позиционирование для текста */
    top: 70%; /* Расположение чуть ниже середины */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
    text-align: center; /* Выравнивание текста по центру */
}

.quote p {
    font-size: 1.5em; /* Размер шрифта */
    color: #ffffff; /* Цвет текста */
    font-family: 'Forum', cursive;
}

/* Убираем отступы в секции */
section {
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #8a0f46;
}

footer {
    text-align: center;
    position: relative;
    bottom: 20px;
    top:20px;
    width: 100%;
}

#about {
    background-color: #f2f2f2;
    z-index: 5; /* Должна быть выше первой секции */
    position: relative; /* Позиционирование */
}

.about-container {
    display: flex; /* Flexbox для выравнивания содержимого */
    justify-content: flex-end; /* Выравнивание контейнера по правому краю */
}

.text-content {
    display: flex; /* Flexbox для размещения блоков */
    flex-direction: column; /* Вертикальное расположение блоков */
    align-items:center; /* Выравнивание блоков по правому краю */
    padding: 20px; /* Отступы внутри текстового блока */
    font-family: 'Forum', sans-serif; /* Применение шрифта Solway */
    font-size: 1.6em; /* Размер шрифта */
}

.block {
    background-color: white; /* Цвет фона блока */
    border: 1px solid #ccc; /* Граница блока */
    border-radius: 10px; /* Округленные края */
    padding: 15px; /* Отступы внутри блока */
    margin: 10px 0; /* Отступы между блоками */
    width:1000px;
}

.icon {
    display: block; /* Вывод иконки как блочного элемента */
    margin: 10px auto; /* Центрирование иконки и отступы */
    width: 60px; /* Ширина иконки */
    height: 60px; /* Высота иконки */
}

#animation-container {
    width: 100%;/* Ширина контейнера для анимации */
    height: 900px;
    background-color: transparent;
    position: relative;
    top: 140px;
    z-index: 2;
}

#blueberies {
    transform: translate(-50%, -50%); /* Центрируем */
    transform: translateY(-50%); /* Центрирование по вертикали */
    position: sticky;
    top: 50vh; /* Остановка в середине страницы */
    z-index: 3;
    margin-bottom: -7%; /* Сдвигаем вниз для перекрытия */
}

#blueberies-img {
    width: 130px;
    height: auto;
}

#cake {
    position: absolute;
    bottom: 0; /* Позиционируем торт снизу */
    left:23%;
    transform: translateX(-50%); /* Сдвиг для центрирования */
    z-index: 1;
}

#cake-img {
    width: 250px;
    height: auto;
    transition: transform 0.5s ease; /* Плавный переход */
}

.proud-block {
    display: flex; /* Flexbox для горизонтального расположения */
    justify-content:center; /* Центрируем содержимое */
    align-items:center; /* Выравнивание по центру */
    margin: 50px 0; /* Отступы между блоками */
}

.proud-item {
    display: flex; /* Flexbox для размещения элементов внутри блока */
    align-items: center; /* Выравнивание по центру */
    background-color: transparent; /* Белый фон для блока */
    border-radius: 10px; /* Округленные края */
    padding: 20px; /* Отступы внутри блока */
    position: relative; /* Для дальнейшей стилизации */
    margin-top: 20px; /* Добавлено расстояние между элементами */
}

.proud-image {
    width: 350px; /* Размер изображения */
    height: auto; /* Автоматическая высота */
    margin: 0 110px; /* Отступы между изображениями и текстом */
}

.text-column {
    display: flex; /* Flexbox для вертикального расположения текста */
    flex-direction: column; /* Вертикальное направление */
    align-items: center; /* Центрируем текст */
    flex: 1; /* Позволяет текстовому блоку занимать оставшееся пространство */
}
    
.text-column div {
    margin: 5px 0; /* Отступы между строками текста */
    font-family: 'Alice', sans-serif; /* Применение шрифта Alice */
    font-size: 1.6em; /* Размер шрифта */
    color: #ffffff; /* Цвет текста */
}

.h2format{
    font-size: 4.5em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #8a0f46;
}

.icon-proud {
    width: 80px; /* Размер иконки */
    height: auto; /* Автоматическая высота */        
    margin: 40px 0; /* Отступы вокруг иконки */
}
    
#menu {
    text-align: center; /* Центрируем текст */
    padding: 40px 0; /* Отступы сверху и снизу */
    background-color: #f2f2f2;
}

.menu-container {
    display: flex; /* Flexbox для горизонтального расположения */
    justify-content:center; /* Центрируем блоки */ 
    gap: 25px;

}

.menu-item {
    display: flex; /* Flexbox для вертикального расположения */
    flex-direction: column; /* Вертикальное направление */
    align-items:center; /* Центрируем элементы */
    background-color: transparent; /* Цвет фона блока */
    border: 2px solid #8a0f46; /* Цвет границы и её толщина */
    padding: 0px; /* Отступы внутри блока */
    width: 400px; /* Ширина блока */
}

.menu-image {
    width: 350px; /* Ширина картинки */
    height: auto; /* Автоматическая высота */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px;
}

.menu-text {
    text-align: center; /* Центрируем текст внутри блока */
    margin-top: 10px; /* Отступ сверху */
    color: #000000; /* Цвет текста */
}

.menu-text strong {
    font-size: 1.5em; /* Размер текста для заголовка */
    color: #000000; /* Цвет текста */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alice', sans-serif; /* Применение шрифта Alice */
    font-size: 1.2em; /* Размер шрифта */
}

.menu-text p {
    font-size: 1em; /* Размер текста для описания */
    color: #333; /* Цвет текста */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Solway', sans-serif; /* Применение шрифта Alice */
    font-size: 1.1em; /* Размер шрифта */
}

.menu-container a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Унаследуем цвет текста от родительского элемента */
}

#photozone {
    text-align: center; /* Центрируем текст */
    padding: 40px 0; /* Отступы сверху и снизу */
    background-color: #ffffff;
}

.photozone-description {
    font-family: 'Solway', serif; /* Изменяем шрифт на Solway */
    font-size: 1.3em; /* Увеличиваем размер шрифта */
    margin-bottom: 40px; /* Добавляем отступ снизу для лучшего размещения */
    text-align: center; /* Центрируем текст */
}


.photozone-container {
    display: flex; /* Горизонтальное расположение элементов */
    justify-content: center; /* Центрируем контейнер */
    gap: 30px; /* Отступ между элементами */
    margin-top: 30px; /* Отступ сверху для контейнера */
}

.photozone-item {
    display: flex; /* Вертикальное расположение фотографий внутри элемента */
    flex-direction: column; /* Столбиковое расположение */
    align-items: center; /* Центрируем изображения внутри элемента */
    padding: 10px; /* Отступ внутри элемента */
    
}

.photozone-image {
    width: 300px; /* Ширина изображений */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-bottom: 10px; /* Отступ между изображениями */
}

.photozone-item img:last-child {
    margin-top: auto; /* Отталкиваем нижнее изображение к низу элемента */
}

.photozone-image:hover {
    transform: scale(1.2); /* Увеличение при наведении */
    z-index: 1; /* Поднимаем изображение над остальными */
}

#contacts {
    text-align: center;
    padding: 40px 0;
}

#contact {
    text-align: center;
    padding: 40px 0;
    background-color: #f2f2f2;
}

.contact-container {
    display: flex;
    justify-content: center; /* Центрируем блоки */
    gap: 250px; /* Расстояние между блоками */
    margin-top: 20px;
}
.contact-right{
    margin-top: 60px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по горизонтали */
}

.contact-left div,
.contact-right div {
    margin: 20px 0; /* Отступы между параграфами */
}

.contact-left iframe {
    border: 0; /* Убираем рамку */
    width: 500px; /* Ширина карты */
    height: 400px; /* Высота карты */
}

.contactname{
    font-family: 'Solway', serif; /* Шрифт для правого блока */
    font-size: 1.4em; /* Размер шрифта */
    color: #c4a1b8;
    text-align: left; /* Выравнивание текста по левому краю */
}

.contacts{
    font-family: 'Solway', serif; /* Шрифт для правого блока */
    font-size: 1.3em; /* Размер шрифта */
    color:#8a0f46;
    text-align: left; /* Выравнивание текста по левому краю */
}

.map {
    font-family: 'Solway', serif; /* Шрифт для правого блока */
    font-size: 1.4em; /* Размер шрифта */
    color: #c4a1b8;
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 10px; /* Отступ снизу */
}
