* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Белый фон для всего тела */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent; /* Изначально прозрачный фон */
    transition: background-color 0.5s ease; /* Плавный переход */
}

header.scrolled {
    background-color: white; /* Фон белый при прокрутке */
    box-shadow: 0 4px 8px #8a0f4649; /* Добавление тени */
}

header.scrolled nav ul li a {
    color: #8a0f46; /* Цвет текста при прокрутке */
}

.logo {
    height: 50px; /* Размер логотипа */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Цвет текста по умолчанию */
    font-weight: bold;
    font-family: 'Solway', sans-serif; /* Применение шрифта Solway */
}

main {
    text-align: center;
    position: relative;
}

/* Убираем отступы для первой секции */
#home {
    height: 100vh; /* Высота на весь экран минус высота заголовка */
    width: 100%; /* Ширина на весь экран */
    background: url('images/principaltext.png') no-repeat center center; 
    background-size: cover; /* Масштабирование изображения */
    position: relative; /* Относительное позиционирование для внутреннего контента */
}

/* Добавляем стили для блока с текстом */
.quote {
    background-color: rgba(255, 255, 255, 0.271); /* Полупрозрачный белый фон */
    border-radius: 20px; /* Округленные края */
    padding: 10px; /* Отступы внутри блока */
    width: 65%; /* Ширина блока */
    max-width: 500px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование блока */
    position: absolute; /* Абсолютное позиционирование для текста */
    top: 70%; /* Расположение чуть ниже середины */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
    text-align: center; /* Выравнивание текста по центру */
}

.quote p {
    font-size: 1.5em; /* Размер шрифта */
    color: #ffffff; /* Цвет текста */
    font-family: 'Forum', cursive;
}

/* Убираем отступы в секции */
section {
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #8a0f46;
}

footer {
    text-align: center;
    position: relative;
    bottom: 10px;
    width: 100%;
}

#about {
    background-color: #f2f2f2;
    z-index: 5; /* Должна быть выше первой секции */
    position: relative; /* Позиционирование */
}

.about-container {
    display: flex; /* Flexbox для выравнивания содержимого */
    justify-content: flex-end; /* Выравнивание контейнера по правому краю */
}

.text-content {
    display: flex; /* Flexbox для размещения блоков */
    flex-direction: column; /* Вертикальное расположение блоков */
    align-items:center; /* Выравнивание блоков по правому краю */
    padding: 20px; /* Отступы внутри текстового блока */
    font-family: 'Forum', sans-serif; /* Применение шрифта Solway */
    font-size: 1.6em; /* Размер шрифта */
}

.block {
    background-color: white; /* Цвет фона блока */
    border: 1px solid #ccc; /* Граница блока */
    border-radius: 10px; /* Округленные края */
    padding: 15px; /* Отступы внутри блока */
    margin: 10px 0; /* Отступы между блоками */
    width:1000px;
}

.icon {
    display: block; /* Вывод иконки как блочного элемента */
    margin: 10px auto; /* Центрирование иконки и отступы */
    width: 60px; /* Ширина иконки */
    height: 60px; /* Высота иконки */
}

#animation-container {
    width: 100%;/* Ширина контейнера для анимации */
    height: 900px;
    background-color: transparent;
    position: relative;
    top: 140px;
    z-index: 2;
}

#blueberies {
    position: sticky;
    top: 50vh; /* Остановка в середине страницы */
    transform: translateY(-50%); /* Центрирование по вертикали */
    z-index: 3;
    margin-bottom: -50px; /* Сдвигаем вниз для перекрытия */
}

#blueberies-img {
    width: 130px;
    height: auto;
}

#cake {
    position: absolute;
    bottom: 0; /* Позиционируем торт снизу */
    left:250px;
    transform: translateX(-50%); /* Сдвиг для центрирования */
    z-index: 1;
}

#cake-img {
    width: 250px;
    height: auto;
    transition: transform 0.5s ease; /* Плавный переход */
}

